In [14]:
import pandas as pd
import numpy as np
import re


DIR_DATA = "../data/combine-3"
DIR_DATA_A = "../data/data_A"
DIR_DATA_B = "../data/data_B"
DIR_DATA_OUTPUT = '../data/submission'
DIR_DATA_MISC = '../data_misc'

In [15]:
data_A_train = pd.read_csv("{}/data_train_A.csv".format(DIR_DATA_A))
data_B_train = pd.read_csv("{}/data_train_B.csv".format(DIR_DATA_B))
df_final_A = pd.read_csv("{}/df_final_test_lstm_A.csv".format(DIR_DATA))
df_final_B = pd.read_csv("{}/df_final_test_lstm_B.csv".format(DIR_DATA))
df_cv_A = pd.read_csv("{}/df_final_cv_lstm_A.csv".format(DIR_DATA))
# df_cv_B = pd.read_csv("{}/df_final_cv_lstm_B.csv".format(DIR_DATA))

In [16]:
data_A_train.head()

  RES_ID                                           RESPONSE  LABEL
0   TRA1  intetraksi/beradaptasi terhadap lingkungan yan...      1
1   TRA2         seperti jatuhnya meteor tsunami gempa bumi      0
2   TRA3      hanya tuhan yang tahu tantangan nya itu apaan      0
3   TRA4                      mereka akan sulit beradaptasi      1
4   TRA5             Tempat tinggal, ekonomi, dan pekerjaan      1

In [17]:
df_final_A.head()

  RES_ID     LABEL
0   TSA1  0.931192
1   TSA2  0.863029
2   TSA3  0.558408
3   TSA4  0.975176
4   TSA5  0.682303

In [18]:
df_cv_A.head()

  RES_ID     LABEL
0   TRA1  0.894635
1   TRA2  0.265876
2   TRA3  0.601150
3   TRA4  0.889704
4   TRA5  0.731226

# DATA A

In [19]:
from sklearn.metrics import precision_score, recall_score, f1_score
def lr_cv_threshold(data_train, data_cv):
    for thresholdt in range(400, 700, 1):
        cur_bin_pred_cv = [1 if x>=thresholdt/1000 else 0 for x in data_cv]
        f1 = f1_score(data_train, cur_bin_pred_cv)
        precision = precision_score(data_train, cur_bin_pred_cv)
        recall = recall_score(data_train, cur_bin_pred_cv)

        print("score %.3f: %.5f, %.5f, %.5f" % (thresholdt, f1, precision, recall))

In [20]:
lr_cv_threshold(data_A_train["LABEL"].values, df_cv_A["LABEL"].values)

score 400.000: 0.87442, 0.78661, 0.98429
score 401.000: 0.87442, 0.78661, 0.98429
score 402.000: 0.87442, 0.78661, 0.98429
score 403.000: 0.87442, 0.78661, 0.98429
score 404.000: 0.87442, 0.78661, 0.98429
score 405.000: 0.87442, 0.78661, 0.98429
score 406.000: 0.87646, 0.78992, 0.98429
score 407.000: 0.87646, 0.78992, 0.98429
score 408.000: 0.87850, 0.79325, 0.98429
score 409.000: 0.87850, 0.79325, 0.98429
score 410.000: 0.87850, 0.79325, 0.98429
score 411.000: 0.87850, 0.79325, 0.98429
score 412.000: 0.87850, 0.79325, 0.98429
score 413.000: 0.87850, 0.79325, 0.98429
score 414.000: 0.88056, 0.79661, 0.98429
score 415.000: 0.88056, 0.79661, 0.98429
score 416.000: 0.88056, 0.79661, 0.98429
score 417.000: 0.88471, 0.80342, 0.98429
score 418.000: 0.88471, 0.80342, 0.98429
score 419.000: 0.88471, 0.80342, 0.98429
score 420.000: 0.88679, 0.80687, 0.98429
score 421.000: 0.88889, 0.81034, 0.98429
score 422.000: 0.88889, 0.81034, 0.98429
score 423.000: 0.88889, 0.81034, 0.98429
score 424.000: 0.89100, 0.81385, 0.98429
score 425.000: 0.89100, 0.81385, 0.98429
score 426.000: 0.88836, 0.81304, 0.97906
score 427.000: 0.88836, 0.81304, 0.97906
score 428.000: 0.88836, 0.81304, 0.97906
score 429.000: 0.88836, 0.81304, 0.97906
score 430.000: 0.88836, 0.81304, 0.97906
score 431.000: 0.88836, 0.81304, 0.97906
score 432.000: 0.88836, 0.81304, 0.97906
score 433.000: 0.88836, 0.81304, 0.97906
score 434.000: 0.88836, 0.81304, 0.97906
score 435.000: 0.88836, 0.81304, 0.97906
score 436.000: 0.88836, 0.81304, 0.97906
score 437.000: 0.88836, 0.81304, 0.97906
score 438.000: 0.88836, 0.81304, 0.97906
score 439.000: 0.88836, 0.81304, 0.97906
score 440.000: 0.88836, 0.81304, 0.97906
score 441.000: 0.88836, 0.81304, 0.97906
score 442.000: 0.88836, 0.81304, 0.97906
score 443.000: 0.88836, 0.81304, 0.97906
score 444.000: 0.88836, 0.81304, 0.97906
score 445.000: 0.88836, 0.81304, 0.97906
score 446.000: 0.88836, 0.81304, 0.97906
score 447.000: 0.89048, 0.81659, 0.97906
score 448.000: 0.89048, 0.81659, 0.97906
score 449.000: 0.89048, 0.81659, 0.97906
score 450.000: 0.89048, 0.81659, 0.97906
score 451.000: 0.89048, 0.81659, 0.97906
score 452.000: 0.89048, 0.81659, 0.97906
score 453.000: 0.88783, 0.81579, 0.97382
score 454.000: 0.88783, 0.81579, 0.97382
score 455.000: 0.88783, 0.81579, 0.97382
score 456.000: 0.88783, 0.81579, 0.97382
score 457.000: 0.88783, 0.81579, 0.97382
score 458.000: 0.88995, 0.81938, 0.97382
score 459.000: 0.88995, 0.81938, 0.97382
score 460.000: 0.88995, 0.81938, 0.97382
score 461.000: 0.88995, 0.81938, 0.97382
score 462.000: 0.88995, 0.81938, 0.97382
score 463.000: 0.88995, 0.81938, 0.97382
score 464.000: 0.88995, 0.81938, 0.97382
score 465.000: 0.88995, 0.81938, 0.97382
score 466.000: 0.88995, 0.81938, 0.97382
score 467.000: 0.88729, 0.81858, 0.96859
score 468.000: 0.88729, 0.81858, 0.96859
score 469.000: 0.88729, 0.81858, 0.96859
score 470.000: 0.88729, 0.81858, 0.96859
score 471.000: 0.88462, 0.81778, 0.96335
score 472.000: 0.88462, 0.81778, 0.96335
score 473.000: 0.88462, 0.81778, 0.96335
score 474.000: 0.88462, 0.81778, 0.96335
score 475.000: 0.88462, 0.81778, 0.96335
score 476.000: 0.88675, 0.82143, 0.96335
score 477.000: 0.88675, 0.82143, 0.96335
score 478.000: 0.88675, 0.82143, 0.96335
score 479.000: 0.88675, 0.82143, 0.96335
score 480.000: 0.88675, 0.82143, 0.96335
score 481.000: 0.88675, 0.82143, 0.96335
score 482.000: 0.88675, 0.82143, 0.96335
score 483.000: 0.88675, 0.82143, 0.96335
score 484.000: 0.88406, 0.82063, 0.95812
score 485.000: 0.88406, 0.82063, 0.95812
score 486.000: 0.88406, 0.82063, 0.95812
score 487.000: 0.88406, 0.82063, 0.95812
score 488.000: 0.88406, 0.82063, 0.95812
score 489.000: 0.88406, 0.82063, 0.95812
score 490.000: 0.88406, 0.82063, 0.95812
score 491.000: 0.88406, 0.82063, 0.95812
score 492.000: 0.88406, 0.82063, 0.95812
score 493.000: 0.88406, 0.82063, 0.95812
score 494.000: 0.88620, 0.82432, 0.95812
score 495.000: 0.88835, 0.82805, 0.95812
score 496.000: 0.88835, 0.82805, 0.95812
score 497.000: 0.88835, 0.82805, 0.95812
score 498.000: 0.88835, 0.82805, 0.95812
score 499.000: 0.88835, 0.82805, 0.95812
score 500.000: 0.89051, 0.83182, 0.95812
score 501.000: 0.89051, 0.83182, 0.95812
score 502.000: 0.89051, 0.83182, 0.95812
score 503.000: 0.89268, 0.83562, 0.95812
score 504.000: 0.88998, 0.83486, 0.95288
score 505.000: 0.88998, 0.83486, 0.95288
score 506.000: 0.88998, 0.83486, 0.95288
score 507.000: 0.88998, 0.83486, 0.95288
score 508.000: 0.88998, 0.83486, 0.95288
score 509.000: 0.88998, 0.83486, 0.95288
score 510.000: 0.88998, 0.83486, 0.95288
score 511.000: 0.88998, 0.83486, 0.95288
score 512.000: 0.88998, 0.83486, 0.95288
score 513.000: 0.88725, 0.83410, 0.94764
score 514.000: 0.88725, 0.83410, 0.94764
score 515.000: 0.88725, 0.83410, 0.94764
score 516.000: 0.88725, 0.83410, 0.94764
score 517.000: 0.88725, 0.83410, 0.94764
score 518.000: 0.88725, 0.83410, 0.94764
score 519.000: 0.88725, 0.83410, 0.94764
score 520.000: 0.88725, 0.83410, 0.94764
score 521.000: 0.88725, 0.83410, 0.94764
score 522.000: 0.88725, 0.83410, 0.94764
score 523.000: 0.88725, 0.83410, 0.94764
score 524.000: 0.88725, 0.83410, 0.94764
score 525.000: 0.88725, 0.83410, 0.94764
score 526.000: 0.88725, 0.83410, 0.94764
score 527.000: 0.88725, 0.83410, 0.94764
score 528.000: 0.88943, 0.83796, 0.94764
score 529.000: 0.88943, 0.83796, 0.94764
score 530.000: 0.88943, 0.83796, 0.94764
score 531.000: 0.88943, 0.83796, 0.94764
score 532.000: 0.88943, 0.83796, 0.94764
score 533.000: 0.88670, 0.83721, 0.94241
score 534.000: 0.88670, 0.83721, 0.94241
score 535.000: 0.88670, 0.83721, 0.94241
score 536.000: 0.88670, 0.83721, 0.94241
score 537.000: 0.88670, 0.83721, 0.94241
score 538.000: 0.88670, 0.83721, 0.94241
score 539.000: 0.88670, 0.83721, 0.94241
score 540.000: 0.88670, 0.83721, 0.94241
score 541.000: 0.88670, 0.83721, 0.94241
score 542.000: 0.88670, 0.83721, 0.94241
score 543.000: 0.88889, 0.84112, 0.94241
score 544.000: 0.88889, 0.84112, 0.94241
score 545.000: 0.88889, 0.84112, 0.94241
score 546.000: 0.88889, 0.84112, 0.94241
score 547.000: 0.88889, 0.84112, 0.94241
score 548.000: 0.88889, 0.84112, 0.94241
score 549.000: 0.88889, 0.84112, 0.94241
score 550.000: 0.88889, 0.84112, 0.94241
score 551.000: 0.88889, 0.84112, 0.94241
score 552.000: 0.88614, 0.84038, 0.93717
score 553.000: 0.88614, 0.84038, 0.93717
score 554.000: 0.88337, 0.83962, 0.93194
score 555.000: 0.88337, 0.83962, 0.93194
score 556.000: 0.88337, 0.83962, 0.93194
score 557.000: 0.88337, 0.83962, 0.93194
score 558.000: 0.88337, 0.83962, 0.93194
score 559.000: 0.88337, 0.83962, 0.93194
score 560.000: 0.88337, 0.83962, 0.93194
score 561.000: 0.88337, 0.83962, 0.93194
score 562.000: 0.88337, 0.83962, 0.93194
score 563.000: 0.88337, 0.83962, 0.93194
score 564.000: 0.88337, 0.83962, 0.93194
score 565.000: 0.88337, 0.83962, 0.93194
score 566.000: 0.88337, 0.83962, 0.93194
score 567.000: 0.88557, 0.84360, 0.93194
score 568.000: 0.88557, 0.84360, 0.93194
score 569.000: 0.88557, 0.84360, 0.93194
score 570.000: 0.88557, 0.84360, 0.93194
score 571.000: 0.88557, 0.84360, 0.93194
score 572.000: 0.88557, 0.84360, 0.93194
score 573.000: 0.88557, 0.84360, 0.93194
score 574.000: 0.88557, 0.84360, 0.93194
score 575.000: 0.88557, 0.84360, 0.93194
score 576.000: 0.88279, 0.84286, 0.92670
score 577.000: 0.88279, 0.84286, 0.92670
score 578.000: 0.88000, 0.84211, 0.92147
score 579.000: 0.88000, 0.84211, 0.92147
score 580.000: 0.88000, 0.84211, 0.92147
score 581.000: 0.88221, 0.84615, 0.92147
score 582.000: 0.88161, 0.84951, 0.91623
score 583.000: 0.88384, 0.85366, 0.91623
score 584.000: 0.88384, 0.85366, 0.91623
score 585.000: 0.88384, 0.85366, 0.91623
score 586.000: 0.88384, 0.85366, 0.91623
score 587.000: 0.88384, 0.85366, 0.91623
score 588.000: 0.88101, 0.85294, 0.91099
score 589.000: 0.88101, 0.85294, 0.91099
score 590.000: 0.88101, 0.85294, 0.91099
score 591.000: 0.88101, 0.85294, 0.91099
score 592.000: 0.88101, 0.85294, 0.91099
score 593.000: 0.88101, 0.85294, 0.91099
score 594.000: 0.88101, 0.85294, 0.91099
score 595.000: 0.88101, 0.85294, 0.91099
score 596.000: 0.88325, 0.85714, 0.91099
score 597.000: 0.88325, 0.85714, 0.91099
score 598.000: 0.88325, 0.85714, 0.91099
score 599.000: 0.88550, 0.86139, 0.91099
score 600.000: 0.88550, 0.86139, 0.91099
score 601.000: 0.88550, 0.86139, 0.91099
score 602.000: 0.88776, 0.86567, 0.91099
score 603.000: 0.88776, 0.86567, 0.91099
score 604.000: 0.88776, 0.86567, 0.91099
score 605.000: 0.88776, 0.86567, 0.91099
score 606.000: 0.88776, 0.86567, 0.91099
score 607.000: 0.88491, 0.86500, 0.90576
score 608.000: 0.88491, 0.86500, 0.90576
score 609.000: 0.88491, 0.86500, 0.90576
score 610.000: 0.88491, 0.86500, 0.90576
score 611.000: 0.88491, 0.86500, 0.90576
score 612.000: 0.88491, 0.86500, 0.90576
score 613.000: 0.88491, 0.86500, 0.90576
score 614.000: 0.88491, 0.86500, 0.90576
score 615.000: 0.88491, 0.86500, 0.90576
score 616.000: 0.88491, 0.86500, 0.90576
score 617.000: 0.88718, 0.86935, 0.90576
score 618.000: 0.88718, 0.86935, 0.90576
score 619.000: 0.88718, 0.86935, 0.90576
score 620.000: 0.88718, 0.86935, 0.90576
score 621.000: 0.88718, 0.86935, 0.90576
score 622.000: 0.88432, 0.86869, 0.90052
score 623.000: 0.88144, 0.86802, 0.89529
score 624.000: 0.87855, 0.86735, 0.89005
score 625.000: 0.87855, 0.86735, 0.89005
score 626.000: 0.87855, 0.86735, 0.89005
score 627.000: 0.87855, 0.86735, 0.89005
score 628.000: 0.87855, 0.86735, 0.89005
score 629.000: 0.88083, 0.87179, 0.89005
score 630.000: 0.88083, 0.87179, 0.89005
score 631.000: 0.88083, 0.87179, 0.89005
score 632.000: 0.88083, 0.87179, 0.89005
score 633.000: 0.88083, 0.87179, 0.89005
score 634.000: 0.88312, 0.87629, 0.89005
score 635.000: 0.88312, 0.87629, 0.89005
score 636.000: 0.88312, 0.87629, 0.89005
score 637.000: 0.88542, 0.88083, 0.89005
score 638.000: 0.88542, 0.88083, 0.89005
score 639.000: 0.88251, 0.88021, 0.88482
score 640.000: 0.88251, 0.88021, 0.88482
score 641.000: 0.88189, 0.88421, 0.87958
score 642.000: 0.88189, 0.88421, 0.87958
score 643.000: 0.87895, 0.88360, 0.87435
score 644.000: 0.88127, 0.88830, 0.87435
score 645.000: 0.88594, 0.89785, 0.87435
score 646.000: 0.88594, 0.89785, 0.87435
score 647.000: 0.88594, 0.89785, 0.87435
score 648.000: 0.88594, 0.89785, 0.87435
score 649.000: 0.88594, 0.89785, 0.87435
score 650.000: 0.88594, 0.89785, 0.87435
score 651.000: 0.88594, 0.89785, 0.87435
score 652.000: 0.88594, 0.89785, 0.87435
score 653.000: 0.88594, 0.89785, 0.87435
score 654.000: 0.88594, 0.89785, 0.87435
score 655.000: 0.88594, 0.89785, 0.87435
score 656.000: 0.88594, 0.89785, 0.87435
score 657.000: 0.88594, 0.89785, 0.87435
score 658.000: 0.88594, 0.89785, 0.87435
score 659.000: 0.88594, 0.89785, 0.87435
score 660.000: 0.88298, 0.89730, 0.86911
score 661.000: 0.88298, 0.89730, 0.86911
score 662.000: 0.88298, 0.89730, 0.86911
score 663.000: 0.88298, 0.89730, 0.86911
score 664.000: 0.88298, 0.89730, 0.86911
score 665.000: 0.88298, 0.89730, 0.86911
score 666.000: 0.88298, 0.89730, 0.86911
score 667.000: 0.88298, 0.89730, 0.86911
score 668.000: 0.88298, 0.89730, 0.86911
score 669.000: 0.88533, 0.90217, 0.86911
score 670.000: 0.88533, 0.90217, 0.86911
score 671.000: 0.88533, 0.90217, 0.86911
score 672.000: 0.88533, 0.90217, 0.86911
score 673.000: 0.88533, 0.90217, 0.86911
score 674.000: 0.88533, 0.90217, 0.86911
score 675.000: 0.88533, 0.90217, 0.86911
score 676.000: 0.88533, 0.90217, 0.86911
score 677.000: 0.88533, 0.90217, 0.86911
score 678.000: 0.88533, 0.90217, 0.86911
score 679.000: 0.88472, 0.90659, 0.86387
score 680.000: 0.88710, 0.91160, 0.86387
score 681.000: 0.88410, 0.91111, 0.85864
score 682.000: 0.88108, 0.91061, 0.85340
score 683.000: 0.88108, 0.91061, 0.85340
score 684.000: 0.88108, 0.91061, 0.85340
score 685.000: 0.87805, 0.91011, 0.84817
score 686.000: 0.87805, 0.91011, 0.84817
score 687.000: 0.87805, 0.91011, 0.84817
score 688.000: 0.87805, 0.91011, 0.84817
score 689.000: 0.87500, 0.90960, 0.84293
score 690.000: 0.87500, 0.90960, 0.84293
score 691.000: 0.87193, 0.90909, 0.83770
score 692.000: 0.87193, 0.90909, 0.83770
score 693.000: 0.87193, 0.90909, 0.83770
score 694.000: 0.87193, 0.90909, 0.83770
score 695.000: 0.87193, 0.90909, 0.83770
score 696.000: 0.87193, 0.90909, 0.83770
score 697.000: 0.87193, 0.90909, 0.83770
score 698.000: 0.87193, 0.90909, 0.83770
score 699.000: 0.86575, 0.90805, 0.82723

# DATA B

In [21]:
# lr_cv_threshold(data_B_train["LABEL"].values, df_cv_B["LABEL"].values)

# COMBINE

In [22]:
df_final_A["LABEL"] = df_final_A["LABEL"].apply(lambda x: 1 if x>=500/1000 else 0)
df_final_A.head()

  RES_ID  LABEL
0   TSA1      1
1   TSA2      1
2   TSA3      1
3   TSA4      1
4   TSA5      1

In [23]:
df_final_B["LABEL"] = df_final_B["LABEL"].apply(lambda x: 1 if x>=480/1000 else 0)
df_final_B.head()

  RES_ID  LABEL
0   TSB1      1
1   TSB2      1
2   TSB3      1
3   TSB4      1
4   TSB5      1

In [24]:
df_final = pd.concat([df_final_A, df_final_B])
df_final= df_final.reset_index(drop=True)
print(df_final.shape)
df_final.head()

(1829, 2)

  RES_ID  LABEL
0   TSA1      1
1   TSA2      1
2   TSA3      1
3   TSA4      1
4   TSA5      1

In [25]:
df_final["LABEL"].value_counts()

1    1375
0     454
Name: LABEL, dtype: int64

In [26]:
import datetime
currentDT = datetime.datetime.now()
df_final.to_json('{}/predictions_test_{}.json'.format(DIR_DATA_OUTPUT, currentDT), orient='records')